* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#lista-tarefas li {
  list-style-position: inside;
}

.selected-item {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}
